@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0px auto;
  padding: 20px 30px;
  width: 90%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

ul {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

li {
  width: 23%;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.name {
  display: inline-block;
  width: auto;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #3fa979;
  padding: 10px 0 5px;
  margin-bottom: 10px;
  color: #333;
  font-size: 1em;
}

.email {
  color: #666;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .9em;
  padding: 5px 0 15px;
}

.address, .cell {
  text-transform: capitalize;
  font-weight: 300;
  color: #666;
  padding: 0 0 5px;
}

.ssn {
  padding: 20px 0;
  color: transparent;
  text-shadow: 0 0 5px rgba(63,169,121,0.8);
}

.no-blur {
  padding: 20px 0;
  color: #3fa979;
  text-shadow: none;
}
